certifi
charset-normalizer
click
config
contourpy
credentials
cycler
fonttools
idna
joblib
kiwisolver
matplotlib
nltk
numpy
oauthlib
packaging
pandas
pillow
pygame
pyparsing
python-dateutil
pytz
regex
requests
requests-oauthlib
scikit-learn
scipy
seaborn
six
threadpoolctl
tqdm
tweepy
tzdata
urllib3
wordcloud
xgboost
